body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
*[tabindex]:focus-visible,
  input[type="file"]:focus-visible {
   outline: 0.125rem solid #4d65ff;
   outline-offset: 0.125rem;
}
/* Get rid of top margin on first element in any rich text element */
.w-richtext > :not(div):first-child, .w-richtext > div:first-child > :first-child {
  margin-top: 0 !important;
}

/* Get rid of bottom margin on last element in any rich text element */
.w-richtext>:last-child, .w-richtext ol li:last-child, .w-richtext ul li:last-child {
	margin-bottom: 0 !important;
}
/* Apply "..." after 3 lines of text */
.text--clamp-3lines {
	display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

/* Apply "..." after 2 lines of text */
.text--clamp-2lines {
	display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
/* Transparent element with gradient border */
  .gradient-border:before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 24px;
    padding: 1px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(85, 85, 85, 0.2) 100%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
     pointer-events:none;
  }
/* Fluid font size with REMs, from  https://finsweet.com/client-first/docs/fluid-responsive*/
  html { font-size: calc(0.35344827586206906rem + 0.5387931034482758vw); }
  @media screen and (max-width:1920px) { html { font-size: calc(0.35344827586206895rem + 0.5387931034482759vw); } }
  @media screen and (max-width:992px) { html { font-size: 1rem; } }

/* Prevent autofill coloring */
 input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
    background-color: white !important;
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    transition: background-color 5000s ease-in-out 0s !important;
    -webkit-text-fill-color: white !important;
}

/* Labels move up on focus */
  .form-input-field:not(:placeholder-shown) ~ .form-input-label,
  .form-input-field:focus ~ .form-input-label {
    transform: scale(0.8);
    top: -4px;
  }
  .form-input-field:focus ~ .form-input-label {
    color: #005fee;
  }
